<h3 id="h2format">E-book catalog</h3>
<% if notice %>
<p><%= notice %></p>
<% end %>
<% @products.each  do |product| %>
<div class="catalog">
	<h5><%= product.title %></h5><br>
	<%= image_tag(product.image_url) %><br>
	<legend><%= number_to_currency(product.price) %></legend>
	<%= button_to 'Add to cart', line_items_path(product_id: product), :class => "btn btn-primary" %>
</div>
<% end %>
<div class="clock_sidebar">
      <span style="font-family:Georgia, serif;"><embed src="http://flash-clocks.com/free-flash-clocks-blog-topics/free-flash-clock-195.swf" width="250" height="50" wmode="transparent" type="application/x-shockwave-flash" background-color="transparent"></embed></span> 
</div>
